* {
	overflow: hidden;
}
body {
	background-color: whitesmoke;
	display: flex;
	justify-content: space-around;
}
.inputsContainer > div {
	margin: 10px;
}
button {
	border-radius: 5px;
	border-color: transparent;
	background-color: #7289da;
	color: white;
}
button :hover {
	cursor: pointer;
	border-color: rgb(0, 0, 0);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
	width: 90%;
	color: #343541;
	justify-content: space-around;
	border-radius: 5px;
}
.inputsContainer {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
#backupStatus {
	text-align: center;
	font-weight: bolder;
}
